h1 {text-align: center;}

.myDiv {border: 5px outset black;
    }


button{
background-color: #555555; 
  border:none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px 2px;
  margin-left: auto;
  margin-right: auto;		
    cursor: pointer;
  
}
.quote-container {background-color:#def0ff;
font-size:30px;
text-align:center;
font-family: Tahoma, Geneva, sans-serif;}

img{display: block;
  margin-left: auto;
  margin-right: auto;
    width: 100%;}

button:hover{background-color:teal;}